body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.hover_effect:hover {
  background-image: linear-gradient(45deg, goldenrod, #d81462);
  text-shadow: 6px 6px 6px dimgray;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  text-shadow: 6px 6px 6px dimgray;
}

p {
  color: dimgray;
}

.color_highlight {
  color: goldenrod;
}

.half_width {
  width: 30%;
  float: left;
  margin-left: 5%;
  margin-right: 2%;
  padding-left: 8%;
  padding-top: 5%;
}

.first_half {
  width: 30%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 8%;
  padding-top: 5%;
}

.secoend_half {
  width: 30%;
  float: left;
  margin-left: 5%;
  margin-right: 3%;
  padding-left: 3%;
  padding-top: 4%;
}

.half_width img {
  width: 110%;
}

.bio_image {
  width: 25%;
  margin-right: 10%;
}

.link_btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, goldenrod, dimgray);
  padding: 10px 35px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}

.top_banner {
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-position: fixed;
}

section {
  height: 500px;
  padding-bottom: 150px;
}

/* contact (extra) zone */

.contac {
  color: black;
  text-align: center;
  margin-bottom: 25px;
  text-shadow: 7px 7px 7px dimgray;
}

.extra_box {
  height: 150px;
  padding-top: 10x;
  width: 125%;
  background-image: linear-gradient(45deg, goldenrod, skyblue);
  padding: 10px;
}

.extra_topic {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, tomato, goldenrod);
  border-image-slice: 1;
  background-color: white;
  box-shadow: 10px 10px 10px dimgray;
  border-radius: 2%;
  color: orange;
  font-weight: 900;
  margin: 10px;
  width: 20%;
  float: left;
  size: 75px;
  padding-left: 5%;
  margin-top: 2.5%;
  margin-bottom: 5%;
  padding: 60px;
  margin-left: 15px;
}

.extara_btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, goldenrod, rgb(0, 3, 1));
  padding: 10px 35px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}

/* Biography section */

.biography {
  background-image: url("../images/biography-bg.png");
  background-repeat: no-repeat;
  background-position: fixed;
}

/* Latext work section */

.center_heading {
  text-align: center;
  font-weight: 600;
  margin-top: 6%;
  text-shadow: 7px 7px 7px dimgray;
}

.latest_work {
  background-image: url("../images/latest-work-bg.png");
  background-repeat: no-repeat;
  background-position: fixed;
}

.latest_work img {
  width: 25%;
  float: left;
  size: 75px;
  padding-left: 6%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* client say section */

.bottom_section {
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}

.jhankar_sir {
  text-align: center;
}

.CEO {
  text-align: center;
  margin-top: 0.5%;
  font-weight: 400;
}

.quot {
  text-align: center;
  font-weight: 500;
}

.message {
  text-align: center;
  color: white;
  font-size: small;
  font-weight: 500;
}

.gmail {
  text-align: center;
  font-size: larger;
  color: white;
}

.box_model {
  border: 10px solid goldenrod;
  background-color: goldenrod;
  color: white;
  border-radius: 10px;
  margin-left: 35%;
  margin-right: 35%;
  box-shadow: 10px 10px 10px dimgray;
}

/* fotter section */

footer {
  position: static;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: #585858;
}

#footer_design {
  color: white;
  text-align: center;
  padding-top: 25px;
}

#programming_hero {
  color: goldenrod;
}
